{{extend '../_layouts/home.html'}} {{block 'title'}}{{'多人博客 - 首页'}}{{/block}} {{block 'body'}}
<section class="container">
    {{include '../_partials/settings-nav.html'}}
    <div class="col-md-5">
        <div class="subhead">
            <h2>修改密码</h2>
        </div>
        <hr>
        <form id="admin_form">
            <div class="form-group">
                <label for="exampleInputPassword1">当前密码</label>
                <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">新的密码</label>
                <input type="password" name="new_password1" class="form-control" id="exampleInputPassword1" placeholder="">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">确认密码</label>
                <input type="password" name="new_password2" class="form-control" id="exampleInputPassword1" placeholder="">
            </div>
            <button type="submit" class="btn btn-success">保存</button>
        </form>
        <div class="subhead">
            <h2>注销账号</h2>
            <hr>
        </div>
        <div>
            <p>一旦注销，不可找回，请谨慎操作</p>
            <a href="/delete" class="btn btn-danger" onclick="confirm('确定删除吗？')">删除</a>
        </div>
        <hr>
    </div>
</section>
<script src="/node_modules/jquery/dist/jquery.js"></script>
<script>
    $('#admin_form').on('submit', function(e) {
        e.preventDefault()
        var formData = $(this).serialize()
        $.ajax({
            url: '/settings/admin',
            type: 'post',
            data: formData,
            dataType: 'json',
            success: function(data) {
                const err_code = data.err_code
                if (err_code === 200) {
                    window.location.href = '/'
                    window.alert('保存成功')
                } else if (err_code === 100) {
                    alert('两次密码不一致')
                } else if (err_code === 201) {
                    alert("当前密码不正确")
                } else {
                    alert('网络服务忙，请稍后再试....')
                }
            }
        })
    })
</script>
{{/block}}